.home-container {
  margin: 50px 20px;
  padding-bottom: 80px;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  width: 100%;
  font-size: 30px;
  margin-left: 70px;
  font-weight: bold;
} 

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 235px);
  gap: 20px;
  justify-content: center;
}

.movie-card {
  width: 235px;
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 90%; 
  height: auto;
  max-height: 300px;
  margin-bottom: 10px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

.movie-card .movie-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  background: #f9f9f9;
}

.movie-card .movie-type {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  background: #f9f9f9;
}

.movie-card .movie-year {
  font-size: 16px;
  color: #333;
  background: #f9f9f9;
}

.movie-card .movie-details {
  width: 85%; 
  text-align: left; 
  margin-bottom: 10px;
  background: #f9f9f9;
}

.movie-nothing {
  font-size: 20px;
  width: 250px;
  margin-top: 25px;
  margin-left: 50px;
}

.card-footer {
  margin-top: auto; 
  width: 100%; 
}

.add-button {
  width: 100%; 
  padding: 15px 0; 
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 0;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.add-button:hover {
  background-color: #0056b3;
}

@media (max-width: 1080px) {
  .title {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .title {
    width: 280px;
    font-size: 25px;
    margin-left: 10px;
  }
}